<!DOCTYPE html>
<html lang="{{ .Lang }}" {{ if or (eq .Lang "ar") (eq .Lang "fa") }}dir="rtl"{{ end }}>

  {{ partial "head.html" . }}

  <body>

  {{ partial "navbar.html" . }}

  <br/>

    {{ block "body" . }}

    <div class="container">
      <div class="row">
        <div class="col-sm-9">

          {{ partial "content-header.html" . }}

          {{ block "main" . }}
          <!-- The part of the page that begins to differ between templates -->
          {{ end }}

        </div> {{ "<!-- /.blog-main -->" | safeHTML }}

        {{ partial "sidebar.html" . }}

      </div> {{ "<!-- /.row -->" | safeHTML }}
    </div> {{ "<!-- /.container -->" | safeHTML }}
    {{ end }}

    {{ partial "footer.html" . }}

  {{ $scripts := resources.Get "js/leet.js" | minify}}
  <script src="{{ $scripts.Permalink }}" crossorigin="anonymous"></script>
  {{ $scripts := resources.Get "js/shuffle.js" | minify}}
  <script src="{{ $scripts.Permalink }}" crossorigin="anonymous"></script>

  </body>

</html>
