figcaption {
  text-align: right;
}

#background-canvas {
  stroke-width: 0.1;
  fill-opacity: 0;
}

#background-canvas > img,
#background-canvas > div {
  display: none;
}

#background-canvas svg {
  width: 175%;
  height: 175%;
}

#background-canvas .tile {
  stroke: rgb(0 0 0 / 2%);
}

html.dark #background-canvas .tile {
  stroke: rgb(255 255 255 / 2%);
}

.article-content {
  text-align: justify;
}
