---
---

.brand>img {
  width: 50px;
  height: 50px;
}

/* Nav links */
.blog-nav a {
  position: relative;
  padding: 1rem;
  font-weight: 500;
  color: #cdddeb;
}
/* Nav links */
.blog-nav a:first-child {
  padding-left: 0;
}
.blog-nav a:hover,
.blog-nav a:focus {
  color: #fff;
  background-color: transparent;
}

/* Active state gets a caret at the bottom */
.blog-nav a.active {
  color: #fff;
}
.blog-nav a.active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -.3rem;
  vertical-align: middle;
  content: "";
  border-right: .3rem solid transparent;
  border-bottom: .3rem solid;
  border-left: .3rem solid transparent;
}

/*
 * Main column and sidebar layout
 */

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 1rem;
  word-wrap: break-word;
  text-align: justify;
  /*margin: 0 -1rem 1rem;*/
}
.sidebar-module-inset {
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: .25rem;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}

/*
 * Footer
 */

.blog-footer {
  padding: 1rem 0;
  color: #999;
  text-align: right;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

.read-more {
  text-align: right;
}

article.teaser {
  text-align: justify;
}

.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

.postdate,
.author {
  display: none;
}

.blog-subtitle {
  font-size: 1.1rem;
  color: #999;
  font-style: italic;
  text-align: justify;
}
