{{ if site.Params.backgroundCanvas | default false }}
  {{ with resources.Get "js/monotile-background.js" }}
    {{ $script := . | resources.Minify | resources.Fingerprint (site.Params.fingerprintAlgorithm | default "sha512") }}
    <script
      defer
      src="{{ $script.RelPermalink }}"
      integrity="{{ $script.Data.Integrity }}"></script>
  {{ end }}
  {{ with resources.Get "js/scroll-zoom.js" }}
    {{ $script := . | resources.Minify | resources.Fingerprint (site.Params.fingerprintAlgorithm | default "sha512") }}
    <script
      defer
      src="{{ $script.RelPermalink }}"
      integrity="{{ $script.Data.Integrity }}"></script>
  {{ end }}
  <script defer src="https://cdn.jsdelivr.net/npm/gsap@3.15.0/dist/gsap.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/gsap@3.15.0/dist/ScrambleTextPlugin.min.js"></script>
{{ end }}
{{ with resources.Get "js/scrambletext.js" }}
  {{ $script := . | resources.Minify | resources.Fingerprint (site.Params.fingerprintAlgorithm | default "sha512") }}
  <script
    defer
    src="{{ $script.RelPermalink }}"
    integrity="{{ $script.Data.Integrity }}"></script>
{{ end }}
