<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  {{- with .Site.Author.name }}
  <meta name="author" content="{{ . }}"/>
  {{- end }}

  {{ partial "head-meta.html" . }}

  {{ partial "schema-dot-org" . }}

  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}{{ end }}</title>

  <link rel="canonical" href="{{ .Permalink }}">
  {{- with .Site.Params.favicon }}
  <link href='{{ . | absURL }}' rel='icon' type='image/x-icon'/>
  {{- end -}}
  {{ $styles := resources.Get "css/github.css" | minify}}
  {{ $styles := resources.Get "css/style.css" | minify}}
  <link rel="stylesheet" href="{{ $styles.Permalink }}" media="screen">

  <script src="https://kit.fontawesome.com/15d1d1a2ce.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha256-YMa+wAM6QkVyz999odX7lPRxkoYAan8suedu4k2Zur8=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/mermaid@11.5.0/dist/mermaid.min.js" integrity="sha256-2obLuIPcceEhkE3G09G33hBdmE55ivVcZUlcKcGNHjU=" crossorigin="anonymous"></script>
  <script src=" https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.js "></script>
  <link href=" https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/katex.min.css " rel="stylesheet">
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.22/dist/contrib/auto-render.min.js" onload="renderMathInElement(document.body);"></script>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
        renderMathInElement(
          document.body,
          {
            delimiters: [
              {left: "$$", right: "$$", display: true},
              {left: "$", right: "$", display: false},
              {left: "\\(", right: "\\)", display: false},
              {left: "\\[", right: "\\]", display: true}
            ]
          }
        );
    });
  </script>

  {{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  {{- partialCached "analytics.html" . -}}

  {{ partial "head-custom.html" . }}
</head>
