  <section>
    <nav>
      <a class="nav-item mr-1" href="//reddit.com/submit?url={{ .Permalink }}&title={{ .Title }}" target="_blank" title="Share on Reddit"><i class="fab fa-reddit-square fa-3x"></i></a>
      &nbsp;<a class="nav-item mr-1" href="https://twitter.com/intent/tweet?url={{ .Permalink }}&text={{ .Title }}" title="Tweet this"><span class="fab fa-twitter-square fa-3x"></span></a>
      &nbsp;<a class="nav-item mr-1" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" title="Share on Facebook"><span class="fab fa-facebook-square fa-3x" aria-hidden="true"></span></a>
      &nbsp;<a class="nav-item mr-1" href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}" title="Share on LinkedIn"><span class="fab fa-linkedin fa-3x" aria-hidden="true"></span></a>
    </nav>
  </section>
