<aside class="col-sm-3 ml-auto">
  {{ if and (.GitInfo) (.IsPage) }}
  <div class="card bg-light mb-2 text-justify">
    <div class="card-body">
      <h5 class="card-title"><i class="far fa-edit fa-1x mr-1"></i>&nbsp;<span data-leet>Improve this page?</span></h5>
      <p class="card-text">Spotted an typo ? This site is open-source, and you are welcome to contribute to it.</p>

      <details>
        <summary><i class="fas fa-search mr-1"></i>Last commit</summary>
        <dl class="row">
            <dt class="col-sm-2"><i class="fas fa-code"></i></dt>
            <dd class="col-sm-10"><pre>{{ .GitInfo.Subject }}</pre></dd>
            <dt class="col-sm-2"><i class="fas fa-code-branch mr-1"></i></dt>
            <dd class="col-sm-10"><p class="text-monospace"><a class="text-decoration-none" href="https://github.com/drupol/not-a-number.io/commit/{{ .GitInfo.Hash }}">{{ .GitInfo.AbbreviatedHash }}</a></p></dd>
        </dl>
      </details>
    </div>

    <div class="card-footer">
      <div class="d-grid gap-2 mx-auto">
        <a class="btn btn-primary btn-sm btn-block" href="https://github.com/drupol/not-a-number.io/blob/master/content/{{ .File.Path }}"><i class="fa fa-code mr-1" aria-hidden="true"></i>View the source</a>
        <a class="btn btn-primary btn-sm btn-block" href="https://github.com/drupol/not-a-number.io/edit/master/content/{{ .File.Path }}"><i class="fas fa-pencil-alt mr-1" aria-hidden="true"></i>Edit this page</a>
      </div>
    </div>
  </div>
  {{ end }}

  <div class="card mb-2 text-justify">
    <div class="card-body">
      <h5 class="card-title"><i class="far fa-comment fa-1x mr-1"></i>&nbsp;<span data-leet>Get in touch</span></h5>
      <h6 class="card-subtitle mb-2 text-muted">Get in touch with me</h6>

      <ol class="list-unstyled">
        <li><a class="text-decoration-none" href="https://mathstodon.xyz/@Pol" rel="me"><i class="fab fa-mastodon fa-fw" aria-hidden="true"></i>On Mastodon</a></li>
        <li><a class="text-decoration-none" href="https://github.com/drupol"><i class="fab fa-github fa-fw" aria-hidden="true"></i>On GitHub</a></li>
        <li><a class="text-decoration-none" href="https://packagist.org/packages/drupol/"><i class="fas fa-link fa-fw" aria-hidden="true"></i>On Packagist</a></li>
        <li><a class="text-decoration-none" href="https://opendor.me/@drupol"><i class="fas fa-link fa-fw" aria-hidden="true"></i>On Opendor</a></li>
        <li><a class="text-decoration-none" href="https://www.linkedin.com/in/poldellaiera/"><i class="fab fa-linkedin fa-fw" aria-hidden="true"></i>On LinkedIn</a></li>
        <li>{{ partial "cloakemail" (dict "address" .Site.Params.authoremail "display" "<i class='far fa-envelope fa-fw' aria-hidden='true'></i>By email") }}</li>
      </ol>
    </div>
  </div>

  <div class="card mb-2 text-justify">
    <div class="card-body">
      <h5 class="card-title"><i class="fas fa-share-alt fa-1x mr-1"></i>&nbsp;<span data-leet>{{ i18n "share" }}</span></h5>
      <h6 class="card-subtitle mb-2 text-muted">Because sharing is caring</h6>
      {{ partial "sharing-icons.html" . }}
    </div>
  </div>

  <div class="card mb-2 text-justify">
    <div class="card-body text-muted bg-light">
      {{ if and (.GitInfo) (.IsPage) }}
      <p class="small text-end mb-0"><i class="fas fa-code-branch mr-1"></i>&nbsp;<a class="text-decoration-none" href="https://github.com/drupol/not-a-number.io/commit/{{ .GitInfo.Hash }}">{{ .GitInfo.AbbreviatedHash }}</a></p>
      {{ end }}
      <p class="small text-end mb-0"><i class="fas fa-copyright"></i> 2017 {{ .Site.Title }}</p>
    </div>
  </div>
</aside>
