---
---
{% include JB/setup %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
    <meta charset="utf-8">
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | prepend: site.baseurl }}" >
    <script defer src="https://use.fontawesome.com/releases/v5.0.1/js/all.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />    <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>    <script src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script src="/assets/js/extlink.js"></script>

    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" media="all">
</head>

<body itemscope itemtype="http://schema.org/WebPage">

{% include navbar %}

<br/>

<div class="container">
    <div class="row">
        <div class="col-sm-9">
            {{ content }}
        </div><!-- /.blog-main -->

        <div class="col-sm-3">
            <div class="sidebar-module sidebar-module-inset">
                Spotted an error? Please let me know by contributing to this <a href="https://github.com/drupol/drupol.github.io">blog</a>!
                <nav>
                    <a class="btn btn-primary btn-sm btn-block" href="https://github.com/drupol/drupol.github.io/blob/master/{{ page.path }}"><i class="fa fa-code" aria-hidden="true"></i> View the source</a>
                    <a class="btn btn-primary btn-sm btn-block" href="https://github.com/drupol/drupol.github.io/edit/master/{{ page.path }}"><i class="fa fa-pencil" aria-hidden="true"></i> Edit this page</a>
                </nav>
            </div>

            <div class="sidebar-module">
                <h4>Get in touch</h4>
                <ol class="list-unstyled">
                    <li><a href="https://github.com/drupol"><i class="fab fa-github" aria-hidden="true"></i> On GitHub</a></li>
                    <li><a href="https://packagist.org/packages/drupol/"><i class="fas fa-link" aria-hidden="true"></i> On Packagist</a></li>
                    <li><a href="https://www.drupal.org/u/pol"><i class="fab fa-drupal" aria-hidden="true"></i> On Drupal</a></li>
                    <li><a href="https://twitter.com/drupol"><i class="fab fa-twitter" aria-hidden="true"></i> On Twitter</a></li>
                    <li><a href="https://www.linkedin.com/in/poldellaiera/"><i class="fab fa-linkedin" aria-hidden="true"></i> On LinkedIn</a></li>
                    <li><a href="/contact"><i class="far fa-envelope" aria-hidden="true"></i> By email</a></li>
                </ol>
            </div>

            <div class="sidebar-module">
                <h4>Newsletter</h4>
                <form action="https://tinyletter.com/drupol" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/drupol', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
                    <p>
                        <label for="tlemail">Get an email me when a new article is published</label>
                    </p>
                    <p>
                        <input class="form-control" type="text" name="email" id="tlemail" placeholder="Your email"/>
                    </p>
                    <input type="hidden" value="1" name="embed"/>
                    <input class='btn btn-primary btn-block' type="submit" value="Subscribe" />
                </form>
            </div>

            <div class="sidebar-module">
                <h4>Share this page</h4>
                {% assign url =  site.production_url | append: page.url %}
                <a href="http://www.facebook.com/sharer/sharer.php?u={{ url | cgi_escape }}" target="_blank"><i class="fab fa-facebook fa-3x"></i></a>
                <a href="https://twitter.com/intent/tweet?text={% if page.twitter_text %}{{ page.twitter_text | cgi_escape }}{% else %}{{ page.title | cgi_escape }}{% endif %}&url={{ url | cgi_escape }}{% if page.twitter_tags %}&hashtags={{ page.twitter_tags | cgi_escape }}{% endif %}" target="_blank"><i class="fab fa-twitter-square fa-3x"></i></a>
                <a href="https://plus.google.com/share?url={{ url | cgi_escape }}" target="_blank"><i class="fab fa-google-plus-square fa-3x"></i></a>
                <a href="http://www.linkedin.com/shareArticle?title={{ page.title | cgi_escape }}&url={{ url | cgi_escape }}" target="_blank"><i class="fab fa-linkedin fa-3x"></i></a>
            </div>

        </div><!-- /.blog-sidebar -->
    </div><!-- /.row -->
</div><!-- /.container -->

{% if page.layout == 'post' %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <hr>
            {% include JB/comments %}
        </div>
    </div>
</div>
{% endif %}

{% include footer %}

{% include JB/analytics %}
</body>
</html>
