---
---
{% include JB/setup %}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="https://www.facebook.com/2008/fbml">
<head>
    <meta charset="utf-8">
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | prepend: site.baseurl }}" >
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">  <script src="//code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" media="all">
</head>

<body itemscope itemtype="http://schema.org/WebPage">

<div class="bg-faded">
    <div class="container">
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{{ HOME_PATH }}">
                <img src="/assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
                NaN
            </a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    {% assign pages_links = site.pages | sort:"order" %}
                    {% assign group = 'navigation' %}
                    {% include JB/pages_links %}
                </div>
            </div>
        </nav>
    </div>
</div>

<br/>

<div class="container">
    <div class="row">
        <div class="col-sm-9">
            {{ content }}
        </div><!-- /.blog-main -->

        <div class="col-sm-3">
            <div class="sidebar-module sidebar-module-inset">
                Spotted an error? Please let me know by contributing to this <a href="https://github.com/drupol/drupol.github.io">blog</a>!
                <nav>
                    <a class="btn btn-primary btn-sm btn-block" href="https://github.com/drupol/drupol.github.io/blob/master/{{ page.path }}"><i class="fa fa-code" aria-hidden="true"></i> View the source</a>
                    <a class="btn btn-primary btn-sm btn-block" href="https://github.com/drupol/drupol.github.io/edit/master/{{ page.path }}"><i class="fa fa-pencil" aria-hidden="true"></i> Edit this page</a>
                </nav>
            </div>

            <div class="sidebar-module">
                <h4>Get in touch</h4>
                <ol class="list-unstyled">
                    <li><a href="https://github.com/drupol"><i class="fa fa-github" aria-hidden="true"></i> On GitHub</a></li>
                    <li><a href="https://www.drupal.org/u/pol"><i class="fa fa-drupal" aria-hidden="true"></i> On Drupal</a></li>
                    <li><a href="https://twitter.com/drupol"><i class="fa fa-twitter" aria-hidden="true"></i> On Twitter</a></li>
                    <li><a href="https://www.linkedin.com/in/poldellaiera/"><i class="fa fa-linkedin" aria-hidden="true"></i> On LinkedIn</a></li>
                    <li><a href="/contact"><i class="fa fa-envelope" aria-hidden="true"></i> By email</a></li>
                </ol>
                {% include JB/sharing %}
            </div>

            <div class="sidebar-module">
                <h4>Share this page</h4>
                {% assign url =  site.production_url | append: '/' | append: page.url %}
                <a href="http://www.facebook.com/sharer/sharer.php?u={{ url | cgi_escape }}" target="_blank"><i class="fa fa-facebook-square fa-3x"></i></a>
                <a href="https://twitter.com/intent/tweet?text={% if page.twitter_text %}{{ page.twitter_text | cgi_escape }}{% else %}{{ page.title | cgi_escape }}{% endif %}&url={{ url | cgi_escape }}{% if page.twitter_tags %}&hashtags={{ page.twitter_tags | cgi_escape }}{% endif %}" target="_blank"><i class="fa fa-twitter-square fa-3x"></i></a>
                <a href="https://plus.google.com/share?url={{ url | cgi_escape }}" target="_blank"><i class="fa fa-google-plus-square fa-3x"></i></a>
                <a href="http://www.linkedin.com/shareArticle?title={{ page.title | cgi_escape }}&url={{ url | cgi_escape }}" target="_blank"><i class="fa fa-linkedin-square fa-3x"></i></a>
            </div>

            <div class="sidebar-module">
                <a class="twitter-timeline"  href="https://twitter.com/drupol" data-widget-id="699602862943371264">Tweets by @drupol</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </div><!-- /.blog-sidebar -->
    </div><!-- /.row -->
</div><!-- /.container -->

{% if page.layout == 'post' %}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <hr>
            {% include JB/comments %}
        </div>
    </div>
</div>
{% endif %}

<footer class="blog-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <p class="small">&copy;2017 N0t A Number :: Made with <a href="https://jekyllrb.com">Jekyll</a> and <a href="https://">Bootstrap 4</a>.</p>
            </div>
        </div>
    </div>
</footer>

{% include JB/analytics %}
</body>
</html>
