---
layout: default
---
{% include JB/setup %}

<article itemscope itemtype="http://schema.org/{{ page.schema }}">
  <meta itemprop="keywords" content="{{ page.tags | join: ',' }}" />
  <meta itemprop="description" content="{{ content | strip_html | truncatewords: 40 }}" />

  <header>
    <h1 itemprop="name">{{ page.title }}</h1>
    {% if page.summary != nil %}
    <p itemprop="headline">{{ page.summary }}</p>
    {% endif %}
  </header>

  <p class="blog-post-meta">
    <i class="fa fa-calendar"></i>
    <time datetime="{{ page.date | date: '%Y-%m-%dT%H:%M:%SZ' }}" itemprop="datePublished">{{ page.date | date_to_long_string }}</time>
    {% if site.author %}
     by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ site.author.name }}</span></span>
    {% endif %}</p>
  </p>

  {% if page.image != nil %}
  <div class="media">
    <figure class="figure">
      <img itemprop="image" src="{{ page.image }}" class="figure-img img-fluid rounded" alt="{{ page.title }}"/>
      {% if page.image_copyrights != nil %}
      <figcaption class="figure-caption text-right">{{ page.image_copyrights }}</figcaption>
      {% endif %}
    </figure>
  </div>
  {% endif %}

  <div  itemprop="articleBody">
    {{ content }}
  </div>

  <p class="blog-post-meta">
    <small>
      <i class="fa fa-tags"></i> Categories:
      {% assign taglist = page.tags | sort %}
      {% for tag in taglist %}
      <a itemprop="articleSection" class="text-dblue" href="/tags/#{{ tag | cgi_escape }}" title="View posts tagged with &quot;{{ tag }}&quot;">{{ tag }}</a>
      {% if forloop.last != true %}, {% endif %}
      {% endfor %}
    </small>
  </p>

  <footer>
    <meta itemprop="url" content="{{ production_url }}{{ page.url }}">
    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
      <meta itemprop="name" content="Pol Dellaiera">
      <meta itemprop="image" content="https://{{ site.domain }}/assets/images/PolDellaiera.png">
    </span>
  </footer>
</article>